/**Set up map container*/
.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-data-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    width: 285px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible;
}

.option-label {
    font: 15px/20px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: bold;
    width: 95%;
    padding-bottom: 8px;
}

.form-check-label {
    font: 14px/20px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

form {
    padding-bottom: 20px;
}
